body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#experimentContainer {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#headlineContainer {
    margin-bottom: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}

#realButton {
    background-color: #4CAF50;
    color: white;
}

#satireButton {
    background-color: #f44336;
    color: white;
}

#seenButtonContainer {
    text-align: center;
    margin-top: 20px; /* Adjust as needed for spacing */
}

#seenButton {
    background-color: #2196F3; /* Blue color for differentiation */
    color: white;
    font-size: 14px; /* Smaller font size */
    padding: 5px 10px; /* Smaller padding */
    border: none;
    border-radius: 4px; /* Slightly smaller border-radius for a subtler curve */
    cursor: pointer;
    transition: background-color 0.3s;
}


#seenButton:hover {
    background-color: #1976D2;
}
